smartwater.json
[{"id":"1e165733.46d619","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9584afb.0f1735","type":"ibmiot in","z":"1e165733.46d619","authentication":"apiKey","apiKey":"7ed8574b.1a0778","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"430","applicationId":"","deviceType":"sensor","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":80,"wires":[["3b2531ca.e8fdfe","c84b3e48.3aad1"]]},{"id":"3b2531ca.e8fdfe","type":"function","z":"1e165733.46d619","name":"tanklevel","func":"global.set('tanklevel',msg.payload.d.tanklevel)\nreturn {payload:msg.payload.d.tanklevel}","outputs":1,"noerr":0,"x":240,"y":60,"wires":[["d460857e.21f3e8","f5aaa3.60eff56","c5855997.b825a8"]]},{"id":"c84b3e48.3aad1","type":"function","z":"1e165733.46d619","name":"flowrate1","func":"global.set('flowrate1',msg.payload.d.flowrate1)\nreturn {payload:msg.payload.d.flowrate1}","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["4289c672.2620e8","5758d029.6cba6"]]},{"id":"2e57bdbb.453fb2","type":"template","z":"1e165733.46d619","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Water is coming","output":"str","x":560,"y":240,"wires":[["78729101.44fa4"]]},{"id":"7f92cd33.9ce8b4","type":"template","z":"1e165733.46d619","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Tank is empty","output":"str","x":560,"y":40,"wires":[["10c8aae0.4f1d45"]]},{"id":"f5aaa3.60eff56","type":"ui_gauge","z":"1e165733.46d619","name":"Tank level","group":"758b2579.eb14bc","order":1,"width":0,"height":0,"gtype":"wave","title":"Tank level","label":"litres","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":100,"wires":[]},{"id":"10c8aae0.4f1d45","type":"ui_toast","z":"1e165733.46d619","position":"bottom left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":750,"y":40,"wires":[]},{"id":"6af504f6.25241c","type":"debug","z":"1e165733.46d619","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":120,"wires":[]},{"id":"4289c672.2620e8","type":"ui_gauge","z":"1e165733.46d619","name":"","group":"63cf212f.5b4e8","order":1,"width":0,"height":0,"gtype":"wave","title":"Flow Rate of House 1","label":"litres","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":260,"y":240,"wires":[]},{"id":"baa59d25.f7f17","type":"function","z":"1e165733.46d619","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["9f9fd6ba.f1d7f8"]]},{"id":"78729101.44fa4","type":"ui_toast","z":"1e165733.46d619","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":740,"y":240,"wires":[]},{"id":"10a319ef.8bb7e6","type":"function","z":"1e165733.46d619","name":"flowrate2","func":"global.set('flowrate2',msg.payload.d.flowrate2)\nreturn {payload:msg.payload.d.flowrate2}","outputs":1,"noerr":0,"x":260,"y":720,"wires":[["de5c6087.d116b","92acffe9.70be7"]]},{"id":"8d288e04.9ae5","type":"function","z":"1e165733.46d619","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":760,"wires":[["f215881f.6b1bf8"]]},{"id":"de5c6087.d116b","type":"switch","z":"1e165733.46d619","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":720,"wires":[["8d288e04.9ae5","b2b1f7c3.d7af98","a61bfc08.a9a44","f7e7d136.1cf88"]]},{"id":"b2b1f7c3.d7af98","type":"template","z":"1e165733.46d619","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Water is coming","output":"str","x":620,"y":800,"wires":[["2eeb169d.75b70a"]]},{"id":"f7e7d136.1cf88","type":"debug","z":"1e165733.46d619","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":680,"wires":[]},{"id":"92acffe9.70be7","type":"ui_gauge","z":"1e165733.46d619","name":"","group":"63cf212f.5b4e8","order":2,"width":0,"height":0,"gtype":"wave","title":"Flow Rate of House 2","label":"litres","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":800,"wires":[]},{"id":"2eeb169d.75b70a","type":"ui_toast","z":"1e165733.46d619","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":800,"y":800,"wires":[]},{"id":"2ea1adff.008782","type":"ibmiot out","z":"1e165733.46d619","authentication":"apiKey","apiKey":"7ed8574b.1a0778","outputType":"cmd","deviceId":"430","deviceType":"sensor","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":440,"wires":[]},{"id":"d460857e.21f3e8","type":"debug","z":"1e165733.46d619","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":120,"wires":[]},{"id":"c5855997.b825a8","type":"function","z":"1e165733.46d619","name":"empty","func":"msg.payload=0\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["7f92cd33.9ce8b4"]]},{"id":"a79b4699.6b85a8","type":"cloudant out","z":"1e165733.46d619","name":"","cloudant":"","database":"watermanagement","service":"node-red-gxejo-cloudant-1590778817821-66017","payonly":true,"operation":"insert","x":750,"y":160,"wires":[]},{"id":"471d4905.96c558","type":"function","z":"1e165733.46d619","name":"","func":"flowrate1=msg.payload;\nmsg.payload={\"name\":\"house1\",\"flow\":flowrate1}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["a79b4699.6b85a8"]]},{"id":"e521040b.69d678","type":"cloudant out","z":"1e165733.46d619","name":"","cloudant":"","database":"watermanagement","service":"node-red-gxejo-cloudant-1590778817821-66017","payonly":true,"operation":"insert","x":790,"y":720,"wires":[]},{"id":"a61bfc08.a9a44","type":"function","z":"1e165733.46d619","name":"","func":"flowrate2=msg.payload;\nmsg.payload={\"name\":\"house2\",\"flow\":flowrate2}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":720,"wires":[["e521040b.69d678"]]},{"id":"5758d029.6cba6","type":"switch","z":"1e165733.46d619","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":180,"wires":[["471d4905.96c558","2e57bdbb.453fb2","6af504f6.25241c","baa59d25.f7f17"]]},{"id":"f89b8213.b9118","type":"ui_button","z":"1e165733.46d619","name":"HOUSE 1 Bill","group":"87bcb124.69bfe","order":3,"width":0,"height":0,"passthru":false,"label":"HOUSE 1 Bill","tooltip":"","color":"black","bgcolor":"light blue","icon":"","payload":"{\"command\":\"house1bill\"}","payloadType":"json","topic":"","x":120,"y":880,"wires":[["fce7b605.af5398"]]},{"id":"6a91d38b.3b1afc","type":"ui_button","z":"1e165733.46d619","name":"HOUSE 2 Bill","group":"87bcb124.69bfe","order":4,"width":0,"height":0,"passthru":false,"label":"HOUSE 2 Bill","tooltip":"","color":"black","bgcolor":"light blue","icon":"","payload":"{\"command\":\"house2bill\"}","payloadType":"json","topic":"","x":120,"y":980,"wires":[["db641aae.38b888"]]},{"id":"8249b944.f1a8e8","type":"debug","z":"1e165733.46d619","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":920,"wires":[]},{"id":"e27eb8e.1142248","type":"function","z":"1e165733.46d619","name":"","func":"valuelen=msg.payload.length\n\nflowrate1=0;\n\nfor (i=0;i<valuelen;i++)\n{\n    flowrate1=msg.payload[i].flow+flowrate1;\n}\n\nbill= flowrate1*3;\n\nmsg.payload=bill;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":880,"wires":[["9f9fd6ba.f1d7f8","8249b944.f1a8e8"]]},{"id":"db641aae.38b888","type":"cloudant in","z":"1e165733.46d619","name":"","cloudant":"","database":"watermanagement","service":"node-red-gxejo-cloudant-1590778817821-66017","search":"_all_","design":"","index":"","x":350,"y":980,"wires":[["89a68eba.40838"]]},{"id":"89a68eba.40838","type":"function","z":"1e165733.46d619","name":"","func":"valuelen=msg.payload.length\n\nflowrate2=0;\n\nfor (i=0;i<valuelen;i++)\n{\n    flowrate2=msg.payload[i].flow+flowrate2;\n}\n\nbill= flowrate2*3;\n\nmsg.payload=bill;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":980,"wires":[["8249b944.f1a8e8","f215881f.6b1bf8"]]},{"id":"fce7b605.af5398","type":"cloudant in","z":"1e165733.46d619","name":"","cloudant":"","database":"watermanagement","service":"node-red-gxejo-cloudant-1590778817821-66017","search":"_all_","design":"","index":"","x":330,"y":880,"wires":[["e27eb8e.1142248"]]},{"id":"1dd01e93.3bc8d1","type":"ui_button","z":"1e165733.46d619","name":"Kukatpally ON","group":"19dc01fc.45ebce","order":2,"width":0,"height":0,"passthru":false,"label":"Kukatpally ON","tooltip":"","color":"black","bgcolor":"light blue","icon":"","payload":"{\"command\":\"kukatpallyon\"}","payloadType":"json","topic":"","x":120,"y":500,"wires":[["2ea1adff.008782","ae91f9a6.e012e8"]]},{"id":"857912d1.7b49","type":"ui_button","z":"1e165733.46d619","name":"AS Rao Nagar ON","group":"19dc01fc.45ebce","order":3,"width":0,"height":0,"passthru":false,"label":"AS Rao Nagar ON","tooltip":"","color":"black","bgcolor":"light blue","icon":"","payload":"{\"command\":\"asraonagaron\"}","payloadType":"json","topic":"","x":130,"y":540,"wires":[["2ea1adff.008782","ae91f9a6.e012e8"]]},{"id":"958c6654.0215a8","type":"ui_button","z":"1e165733.46d619","name":"MOTOR ON","group":"19dc01fc.45ebce","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"black","bgcolor":"light blue","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":110,"y":420,"wires":[["2ea1adff.008782","ae91f9a6.e012e8"]]},{"id":"443a37ff.75fb08","type":"ui_button","z":"1e165733.46d619","name":"MOTOR OFF","group":"19dc01fc.45ebce","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"black","bgcolor":"light blue","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"str","topic":"","x":110,"y":460,"wires":[["2ea1adff.008782","ae91f9a6.e012e8"]]},{"id":"f215881f.6b1bf8","type":"ui_text","z":"1e165733.46d619","group":"87bcb124.69bfe","order":2,"width":0,"height":0,"name":"","label":"HOUSE 2 BILL","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":760,"wires":[]},{"id":"9f9fd6ba.f1d7f8","type":"ui_text","z":"1e165733.46d619","group":"87bcb124.69bfe","order":1,"width":0,"height":0,"name":"","label":"HOUSE 1 BILL","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":200,"wires":[]},{"id":"fca86fda.2326e","type":"http in","z":"1e165733.46d619","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":120,"y":640,"wires":[["e6bc1608.ad7cb8"]]},{"id":"e6bc1608.ad7cb8","type":"function","z":"1e165733.46d619","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["93ea60d6.7c524","2ea1adff.008782","ae91f9a6.e012e8"]]},{"id":"93ea60d6.7c524","type":"http response","z":"1e165733.46d619","name":"","statusCode":"","headers":{},"x":610,"y":640,"wires":[]},{"id":"d76f0580.6ab8c8","type":"ibmiot in","z":"1e165733.46d619","authentication":"apiKey","apiKey":"7ed8574b.1a0778","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"430","applicationId":"","deviceType":"sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":720,"wires":[["10a319ef.8bb7e6"]]},{"id":"a5f90bc1.0140d8","type":"http in","z":"1e165733.46d619","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["227dc2fd.b4321e"]]},{"id":"227dc2fd.b4321e","type":"function","z":"1e165733.46d619","name":"httpresponse","func":"msg.payload={\"tanklevel\":global.get('tanklevel'),\"flowrate1\":global.get('flowrate1'),\"flowrate2\":global.get('flowrate2')}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["840ac407.989318"]]},{"id":"840ac407.989318","type":"http response","z":"1e165733.46d619","name":"","statusCode":"","headers":{},"x":550,"y":340,"wires":[]},{"id":"ae91f9a6.e012e8","type":"debug","z":"1e165733.46d619","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":500,"wires":[]},{"id":"7ed8574b.1a0778","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"9f49yu.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"758b2579.eb14bc","type":"ui_group","z":"","name":"TANK","tab":"722519d9.19a748","order":1,"disp":true,"width":"6","collapse":false},{"id":"63cf212f.5b4e8","type":"ui_group","z":"","name":"Flow Rates","tab":"722519d9.19a748","order":2,"disp":true,"width":"6","collapse":false},{"id":"87bcb124.69bfe","type":"ui_group","z":"","name":"Billings","tab":"722519d9.19a748","order":3,"disp":true,"width":"6","collapse":false},{"id":"19dc01fc.45ebce","type":"ui_group","z":"","name":"Controls","tab":"722519d9.19a748","order":4,"disp":true,"width":"6","collapse":false},{"id":"722519d9.19a748","type":"ui_tab","z":"","name":"HOME","icon":"dashboard","disabled":false,"hidden":false}]